* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
    
}

.header {
    background: linear-gradient(135deg, #003366, #0059b3);
    color: #fff;
    text-align: center;
    padding: 70px 20px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
}

section {
    padding: 60px 80px;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    max-width: 900px;
    margin: 0 auto 15px;
    font-size: 17px;
    text-align: center;
    
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.course-card {
    background: #f3eeee;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.course-card:hover {
    transform: translateY(-8px);
}

.course-card h3 {
    margin-bottom: 12px;
    color: #0059b3;
}

.mission-vision {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box {
    background: #fafbfd;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    text-align: center;
}

.footer {
    background:#0b4082 ;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    section {
        padding: 40px 20px;
    }

    .header h1 {
        font-size: 30px;
    }
}

