* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

HTML {
    font-size: 62.5%;
}

body {
    background-color: #f5f7fa;
    line-height: 1.6;
    
}

/*navigation bar*/
.navbar {
  width: 100%;
  height: 8%;
  background: #0073ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 21rem;
}

.nav-links li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  z-index: 1;
}

.nav-links a:hover {
  background: #ffffff;
  color: #000;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
}

.header {
    background: linear-gradient(135deg, #003366, #0059b3);
    color: #fff;
    text-align: center;
    padding: 70px 20px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
}

section {
    padding: 60px 80px;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    max-width: 900px;
    margin: 0 auto 15px;
    font-size: 17px;
    text-align: center;
    
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.course-card {
    background: #f3eeee;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.course-card:hover {
    transform: translateY(-8px);
}

.course-card h3 {
    margin-bottom: 12px;
    color: #0059b3;
}

.mission-vision {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box {
    background: #fafbfd;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    text-align: center;
}

.footer {
    background:#0b4082 ;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

/*Footer*/
.footer {
  width: calc(100% + 4rem);
  background-color: #0d1b2a; 
  margin-top: 5rem;
  color: #ffffff;
  padding: 4rem 2rem 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}


.footer a:hover {
  color: #8d8c8a; 
}

.footer-brand {
  text-align: center;
  margin-bottom: 3rem;
}

.footer-brand h2 {
color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.footer-brand p {
  font-size: 1rem;
  color: #cfd8dc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section {
  flex: 1 1 200px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffb400; 
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
    font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #22303c;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #cfd8dc;
}



@media (max-width: 768px) {
    section {
        padding: 40px 20px;
    }

    .header h1 {
        font-size: 30px;
    }
}

