body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    
}

html {
    font-size: 62.5%;
}

.course-section h2 {
    font-size: 36px;
    margin-top: 80px;
    color: #0b2d4f;
}

.card-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.course-card {
    background-color: #0b2d4f;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    color: white;
}

.card-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #dbe7f3;
}

.card-content a {
    text-decoration: none;
    color: #ff9800;
    font-weight: bold;
}

.card-content a:hover {
    text-decoration: underline;
}

/*Footer*/
.footer {
  width: calc(100% + 4rem);
  background-color: #0d1b2a; 
  margin-top: 5rem;
  color: #ffffff;
  padding: 4rem 2rem 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}


.footer a:hover {
  color: #8d8c8a; 
}

.footer-brand {
  text-align: center;
  margin-bottom: 3rem;
}

.footer-brand h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.footer-brand p {
  font-size: 1rem;
  color: #cfd8dc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section {
  flex: 1 1 200px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffb400; 
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
    font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #22303c;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #cfd8dc;
}
