* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}


.navbar {
    background-color: #0b4082;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}


.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 36px;
    color: #003366;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    color: #555;
}


.course-section {
    padding: 60px;
    text-align: center;
}

.course-section h2 {
    color: #003366;
    margin-bottom: 20px;
}

.course-section ul {
    list-style: none;
    font-size: 18px;
}

.course-section li {
    margin: 10px 0;
}