* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

.navbar {
  width: 100%;
  height: 8%;
  background: #0b4082;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 21rem;
}

.nav-links li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  z-index: 1;
}

.nav-links a:hover {
  background: #ffffff;
  color: #000;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
}