* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

/*navigation bar*/
.navbar {
  width: 100%;
  height: 8%;
  background: #0b4082;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 21rem;
}

.nav-links li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  z-index: 1;
}

.nav-links a:hover {
  background: #ffffff;
  color: #000;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
}

/*Cover image*/
.img-cover {
    width: 100%;
    height: 60rem;
    margin-bottom: 3rem;
}

/*Hero section*/
.opt-header {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
}

.opt-1 {
  width: 35rem;
  height: 30rem;
}

.container-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
}

.card-option {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow:
    0 20px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(30, 136, 229, 0.15);
  background: linear-gradient(360deg, #49a3ec 0%, #f9fbff 100%);
  margin-bottom: 3rem;
}

.card-content h2{
    text-align: center;
    font-size: 2rem;
    color: #000;
    padding: 2rem;
}

.card-content p {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}

.card-content button{
    cursor: pointer;
    transform: translateX(150%);
    font-weight: 700;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;

    color: #fff;
    background-color: #0033ff;
}

.card-content button:hover {
  background-color: #0226b9;
}