.staff-section {
  padding: 80px 20px;
  background: #f8fafc;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.staff-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #111827;
}

.about {
  color: #6b7280;
  margin-bottom: 50px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}

.staff-card {
  background: linear-gradient(#30acff,#f8fafc);
  
  padding: 30px 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.staff-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.1);
}

.staff-img {
  font-size: 48px;
  margin-bottom: 15px;
}

.staff-card h3 {
  font-size: 20px;
  color: #111827;
  margin-bottom: 6px;
}

.staff-card span {
  display: block;
  font-size: 14px;
  color: #2563eb;
  margin-bottom: 12px;
}

.staff-card p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
}
