
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
/*navigation bar*/
.navbar {
  width: 100%;
  height: 8%;
  background: #0b4082;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 19rem;
}

.nav-links li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  z-index: 1;
}

.nav-links a:hover {
  background: #ffffff;
  color: #000;
  border-radius: 5rem;
  padding: 0.5rem 0.5rem;
}

.staff-section {
  padding: 80px 20px;
  background: #f8fafc;
  font-family: "Segoe UI", sans-serif;
}

.container {
    position: relative;
    bottom: 0;
    top: 100px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.staff-section h2 {
    position: absolute;
    text-align: center;
  font-size: 36px;
  color: #111827;
}

.about {
    text-align: center;
  color: #6b7280;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
}

.staff-card {
  background: linear-gradient(#30acff,#f8fafc);
  
  padding: 30px 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.staff-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.1);
}

.staff-img {
  font-size: 48px;
  margin-bottom: 15px;
}

.staff-card h3 {
  font-size: 20px;
  color: #111827;
  margin-bottom: 6px;
}

.staff-card span {
  display: block;
  font-size: 14px;
  color: #2563eb;
  margin-bottom: 12px;
}

.staff-card p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
}

/*Footer*/
.footer {
  width: calc(100% + 4rem);
  background-color: #0d1b2a; /* dark academy color */
  margin-top: 5rem;
  color: #ffffff;
  padding: 4rem 2rem 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}


.footer a:hover {
  color: #8d8c8a; /* highlight on hover */
}

.footer-brand {
  text-align: center;
  margin-bottom: 3rem;
}

.footer-brand h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.footer-brand p {
  font-size: 1rem;
  color: #cfd8dc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section {
  flex: 1 1 200px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffb400; /* highlight titles */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
    font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #22303c;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #cfd8dc;
}